/*Redeveloped
Lab: Software Engineering
Exp:Estimation of Test Coverage Metrics and Structural Complexity
File Name: main.css
Author: Prakriti Dhang */

html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
   
  }
  .img-container{
    display: inline-block;
    position: relative;
  }

  .poscol{
    width: 100%;
    min-width: 23px;
    min-height: 1px;
    }
    
    .poscol img{
      max-width: 100%;
      height: auto;
    }
  #cfg{
   position: relative;
    top:10%;
    left:30%; 
    width: 30%;
    height: 30%;
    
  }

  #myCanvas1{
    position: absolute;
    top:9.4%;
    left:44.7%; 
    width:0.4%;
    height: 9%;
    display: block;
    transform: rotate(180deg);
    }

    #myCanvas2{
      position: absolute;
      top:22.2%;
      left:38%; 
      width:0.4%;
      height: 17%;
      display: block;
      transform: rotate(225deg);
      }

      
      #myCanvas3{
        position: absolute;
        top:43.8%;
        left:37.7%; 
        width:0.4%;
        height: 33%;
        display: block;
        transform: rotate(-205deg);
        }
    

  #myCanvas4{
    position: absolute;
      top:57.3%;
      left:28%; 
      width:0.4%;
      height: 42%;
      display: block;
      transform: rotate(270deg);
    }

  #myCanvas5{
    position: absolute;
    top:3.5%;
    left:14.4%; 
    width:0.4%;
    height: 75%;
    display: block;
    transform: rotate(360deg);
    }


    #myCanvas6{
      position: absolute;
    top:-17.5%;
    left:28%; 
    width:0.4%;
    height: 42.4%;
    display: block;
    transform: rotate(90deg);
      
      }





  #myCanvas8{
    position: absolute;
    top:-17.5%;
    left:61.5%; 
    width:0.4%;
    height: 42.4%;
    display: block;
    transform: rotate(90deg);
    }

  #myCanvas9{
    position: absolute;
    top:3.5%;
    left:75.5%; 
    width:0.4%;
    height: 92.4%;
    display: block;
    transform: rotate(180deg);
    }


    #myCanvas10{
      position: absolute;
      top:74.5%;
      left:61.5%; 
      width:0.4%;
      height: 42.3%;
      display: block;
      transform: rotate(270deg);
      }

      #myCanvas7{
        position: absolute;
        top:21.5%;
        left:52%; 
        width:0.4%;
        height: 17.8%;
        display: block;
        transform: rotate(135deg);
        }

        #myCanvas11{
          position: absolute;
          top:45.5%;
          left:56.5%; 
          width:0.4%;
          height: 9%;
          display: block;
          transform: rotate(180deg);
          }



          #myCanvas12{
            position: absolute;
            top:59%;
            left:50%; 
            width:0.4%;
            height: 17%;
            display: block;
            transform: rotate(225deg);
            }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table-hover  tr:hover th, .table-hover  tr:hover td {
    background-color: #c8e4fffa;
    
}


.table thead{
    background-color: #1536a1fa;
    font-weight: bold;
    text-align: center;
    color: azure;
}



.column-bordered-table td {
  
  border-right: 1px solid #1addff;
}

span.mySpanClass {
  background-color: #e7cdff;
}
/*#8af1ff;*/

span.mySpanClass1 {
  background-color: #fff6cd;
}

div.divscroll {
   
    height: 500px;
    overflow-y: scroll;
  }

.card{
    margin-bottom: 10px;
    
    
}
.card-body{
   background-color: transparent;
}




  
  .green-border textarea {
    border: 1px solid #21a700;
}
.green-border .form-control:focus {
    border: 1px solid #21a700;
    box-shadow: 0 0 0 0.2rem rgba(0, 68, 0, 0.377);
}

.purple-border  {
  border: 2px solid #e013f3;
  
}

.orange-border  {
  border: 2px solid #f39213;
  
}
.dgreyc{
  color: #4d4343;
  font-weight: bold;
}
.greyc{
  color: #797979;
  font-weight: bold;
  }
  .pinkc{
  color:rgb(252, 4, 190);
  font-weight: bold;
  }
  .bluec{
  color: blue;
  font-weight: bold;
  }
  
  .greenc{
  color: rgb(18, 107, 0);
  font-weight: bold;
  }

/*footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    padding-left: 1%;
  
   
  }*/